
body {
    background: #F8F8FF;
    }


h1 {
    text-align: center;
    border: 10px solid ##000000
}

#imagem-primeira {
    width: 10%
}

#imagem-segunda {
    width: 10%
    
}

#imagem-terceira {
    width: 10%
}

.itens {
    font-style: italic;
}